{% extends "base.html" %}
{% load wagtailcore_tags wagtailvideos_tags wagtailimages_tags %}

{% block extra_meta %}
{% image post.post_images.first.image_new fill-800x800 as p_img_tmb %}
<meta name="og:image" content="{{ p_img_tmb.url }}" data-dynamic="true"/>
{% endblock %}

{% block content %}
<div class="container">
    {% include "posts/post_markup.html" %}
    <div>
        {% for p_img in post.post_images.all %}
            {% if p_img.video %}
                {% video p_img.video autoplay=autoplay muted loop width=640 %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
