{% load static wagtailcore_tags wagtailimages_tags tz humanize %}
<div class="row no-gutters">
    <div class="post col-xs-12 col-md-6 offset-md-3">
        {% for p_img in post.post_images.all|slice:":1" %}
            {% image p_img.image original fill-640x640 as p_img %}
            <a href="{% pageurl post %}">
                <img class="postImage" src="{{ p_img.url }}" alt="">
            </a>
        {% endfor %}
        <a href="{% pageurl post %}">
            {#            <p class="postTitle">{{ post.title }}</p>#}
            <p class="postTitle">
                {% for artist in post.artists.all|slice:":1" %}
                    {{ artist.name }}
                {% endfor %}
                {% for artist in post.artists.all|slice:"1:" %}
                    x {{ artist.name }}
                {% endfor %}
            </p>

        </a>

        <p class="postTags">
            {% for tag in post.tags.all %}
                <a href="{% url 'posts:tags' tag.name %}">#{{ tag }}</a>
            {% endfor %}
        </p>
        <p class="postDate">{{ post.first_published_at|localtime|naturalday }}</p>
        <hr class="postDivider">
    </div>
</div>
