@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;400&display=swap");
.container-750 {
  width: 750px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
}
.vMiddle {
  vertical-align: middle;
}
.post {
  padding: 0 20px 20px;
}
.postTitle {
  margin-bottom: 0;
  text-transform: lowercase;
}
.postBody {
  padding: 0 15px 5px;
}
.postContent {
  margin: 5px 0;
}
.postBody {
  margin: 0;
}
.postDate {
  margin-top: 0;
  font-size: 0.8em;
}
.postMedia {
  height: 500px;
  overflow: hidden;
  display: flex;
}
img.postImage {
  width: 100%;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  img.postImage {
    max-width: 640px;
  }
}
.postDivider {
  color: #a9a;
  opacity: 0.1;
}
.postMediaContent {
  width: 100vw;
  height: auto;
}
.postTags {
  font-size: 0.8em;
  color: #737378;
  float: right;
}
hr.post-start {
  margin-bottom: 25px;
}
.richtext-image {
  display: block;
  margin: 0 auto;
}
.spotlight {
  height: 450px;
  display: flex;
  position: relative;
  margin-bottom: 25px;
}
.spotlight-title {
  background: #000;
  color: #fff;
  position: absolute;
  bottom: 15px;
  padding: 0 25px;
}
.spotlight .img {
  width: 100vw;
  height: 100%;
}
.caps {
  text-transform: uppercase;
}
a.noStyle {
  text-decoration: none;
  font-size: initial;
  font-weight: initial;
  text-transform: initial;
}
@import 'bootstrap/*.css';
body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
a:visited,
a:hover,
a {
  color: #000;
}
form input {
  padding: 5px;
  border: 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.topBar {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 17px 0;
}
.topBar .title {
  font-weight: 800;
  font-size: 1.75em;
}
