.post
  padding 0 20px 20px

.postTitle
  margin-bottom  0
  font-size 1.5em

.postBody
  padding 0 15px 5px

.postContent
  margin 5px 0

.postBody
  margin 0

.postDate
  margin-top 0

.postMedia
  height 500px
  overflow hidden
  display flex

img.postImage
  width 100%
  display block
  margin 0 auto

  @media screen and (min-width: 768px)
    max-width 500px

.postDivider
  color #a9a
  opacity 0.1

.postMediaContent
  width: 100vw
  height: auto

hr.post-start
  margin-bottom: 25px;
