.post
  margin-bottom 15px
  border-bottom 1px #EFEFEF solid
  padding-bottom 5px

h2.postTitle
  margin 0

.postBody
  padding 0 15px 5px

.postContent
  margin 5px 0

.postBody p
  margin 0

.postDate
  font-size 9pt
  font-style italic

.postMedia
  height 500px
  overflow hidden
  display flex

.postMediaContent
  width: 100vw
  height: auto