.spotlight
  height: 450px
  display: flex
  position: relative
  margin-bottom: 25px

.spotlight-title
  background: black
  color: white
  position: absolute
  bottom: 15px
  padding: 0 25px

.spotlight .img
  width: 100vw
  height: 100%