@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400&display=swap');
@import 'imports/*'
@import 'bootstrap/*.css'

border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

body
  margin 0
  font-family 'Heebo', sans-serif
  font-size 16px
  font-weight 300

a:visited, a:hover, a
  color black
  //background: black

form input
  padding: 5px
  border: 1px solid
  border-radius: 5px

.topBar
  //background: black
  height: 50px
  //color white
  display flex
  justify-content center
  align-items center
  margin 17px 0

.topBar .title
  font-weight 800
  font-size 1.75em
  //letter-spacing -1.25px
  //font-size 36px
